<!DOCTYPE html>



<head>

  <!-- // BOOTSTRAP // -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>




  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>



  <!-- // SOCIAL MEDIA BUTTON // -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <!-- // Google Sign in API // -->

  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <meta name="google-signin-scope" content="profile email">

  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">



  <!-- // CSS // -->

  <link rel="stylesheet" href="css/main.css" type="text/css">

  <link rel="stylesheet" href="css/header.css" type="text/css">

  <link rel="stylesheet" href="css/bootstrap-social.css">



  <!-- // FONTS // -->

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Rubik|Rubik+Mono+One" rel="stylesheet">



  <title>Epsilon</title>



</head>


<header>

  <div class="header">

    <nav class="navbar navbar-expand-lg navbar-dark">

      <!--//// NAV BRAND////-->

      <a class="navbar-brand" href="/index">Epsilon</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>



      <!--//// NAV BUTTONS ////-->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item">

            <a class="nav-link" href="#">Profile</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" href="#">Store</a>

          </li>

        </ul>



        <!--////LOGIN DROPLEFT////-->
        <div class="nav-item dropleft">

          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                  LOGIN

          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <form class="form-inline" action="" method="POST">

              <input class="form-control item" type="text" placeholder='username' aria-label="Username" name="username" />

              <input class="form-control item" style="margin-top: 2px;" type="password" placeholder='password' aria-label="Password" name="password" />

            </form>

            <div class="form-check">

              <input type="checkbox" class="form-check-input" id="dropdownCheck"> Remember me

            </div>

            <button class="btn btn-sm btn-dark login-item item" type="submit">

                  login

            </button>

            <!-- /// Google SIGN IN  API /// -->

            <div class="g-signin2 login-item item" data-onsuccess="onSignIn" data-theme="dark" style="margin-top: 2px;"></div>

            <script>

              function onSignIn(googleUser) {

                // Useful data for your client-side scripts:

                var profile = googleUser.getBasicProfile();

                console.log("ID: " + profile.getId()); // Don't send this directly to your server!

                console.log('Full Name: ' + profile.getName());

                console.log('Given Name: ' + profile.getGivenName());

                console.log('Family Name: ' + profile.getFamilyName());

                console.log("Image URL: " + profile.getImageUrl());

                console.log("Email: " + profile.getEmail());



                // The ID token you need to pass to your backend:

                var id_token = googleUser.getAuthResponse().id_token;

                console.log("ID Token: " + id_token);

              };

            </script>

            <!-- // END GOOGLE API -->

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/signup">

              New? Sign up

            </a>

            <a class="dropdown-item" href="#">

              Forgot password?

            </a>

          </div>

        </div>

    </nav>



    </div>

</header>



<body>

  {{{body}}}

</body>



</html>
