.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-brand{
  font-family: 'Rubik Mono One', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
}
.nav-link{
  color: white;
}

.navbar{
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
}

.logo {
  height: 40px;
}

.btn{
  border-color: white;
  color: white;
}
