<body>

  <div class="content">

    <div class="left-column">


      <h6>Popular</h6>

      <button type="button" class="btn btn-sm" onclick="this.blur();"><img src="img/sidebar/flame.png" alt="flame icon hot topic" id="hot-topic"><strong>Hot</strong></button><br>

      <button type="button" class="btn btn-sm"onclick="this.blur();"><img src="img/sidebar/trending.png" alt="arrow icon trending" id="hot-topic"><strong>Trending</strong></button><br>

      <button type="button" class="btn btn-sm"onclick="this.blur();"><img src="img/sidebar/clock-icon.jpg" alt="clock icon fresh posts" id="hot-topic"><strong>Fresh</strong></button>
      <br>
    </div>

     <!-- /// STATUS HANDLING  /// -->
    {{#if pagenotfound}}
        <h1>PAGE NOT FOUND 404</h1>
    {{else}}
    <!-- /// MIDDLE /// -->
    <div class="middle-column">
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" src="img/derp.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="user-profile">
            <link class="card-subtitle mb-2 text-muted" href="user-profile">@user</p>

          <p class="card-text">card caption lorem ipsum dolor sit amet, no tollit abhorreant sea. Quo verear molestiae omittantur ei. His an ubique antiopam hendrerit. Usu te facer albucius, modus ullum in nec..</p>

          <!-- UPVOTE DOWNVOTE -->
          <div class="up-down-btn">
            <button type="submit" class="btn up" id="upvote-btn" onclick="this.blur();">&#x2191;</button>
            <input class="qty" name="qty" readonly="readonly" type="text" value="0" />
            <button type="submit" class="btn down" id="downvote-btn" onclick="this.blur();">&#x2193;</button>
          </div>

          <script type="text/javascript">
            $(function(){
              $(".up").click(function(){
                  var input = $(this).siblings('.qty');
                  input.val(parseFloat(input.val()) + 1);
              });
              $(".down").click(function(){
                  var input = $(this).siblings('.qty');
                  input.val(parseFloat(input.val()) - 1);
              });
            });
          </script>

          <!-- Share on Twitter -->
          <div class="bottom-right">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <!-- Share on Gmail -->
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <g:plus action="share"></g:plus>
          </div>
        </div>
      </div>
    </div>
    <!-- /// END MIDDLE /// -->
    {{/if}}

    <!-- /// RIGHT COLUMN ADS /// -->

    <div class="right-column">

      <a href="https://www.adidas.com/" target="_blank"><img src="img/right-sidebar/ads2.jpg" alt="adidas ad" id="ad" ></a>

      <a href="https://www.starbucks.com/" target="_blank"><img src="img/right-sidebar/ads3.png"  alt="starbucks ad" id="ad"> </a>

    </div>
    <!-- /// END RIGHT COLUMN ADS /// -->

    <!-- //// Back to the top button //// -->
    <button onclick="topFunction()" id="top" title="Go to top">top</button>

    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("top").style.display = "block";
        } else {
          document.getElementById("top").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }
    </script>




    <!-- //// End Back to the top button //// -->

  </div>

</body>
