<body>
  <div class="content">
    <div class="left-column">
      <h6>Popular</h6>
      <button type="button" class="btn btn-sm" ><img src="img/sidebar/flame.png" alt="flame icon hot topic" id="hot-topic"><strong>Hot</strong></button><br>
      <button type="button" class="btn btn-sm" ><img src="img/sidebar/trending.png" alt="arrow icon trending" id="hot-topic"><strong>Trending</strong></button>
    </div>
    <div class="middle-column">
      <p>
        Vis homero consul perfecto an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.Vis homero consul perfecto
        an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos. Vis homero consul perfecto an. Ut vim case
        facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.
      </p>
      <p>
        Vis homero consul perfecto an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.Vis homero consul perfecto
        an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos. Vis homero consul perfecto an. Ut vim case
        facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.
      </p>
      <p>
        Vis homero consul perfecto an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.Vis homero consul perfecto
        an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos. Vis homero consul perfecto an. Ut vim case
        facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.
      </p>
      <p>
        Vis homero consul perfecto an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.Vis homero consul perfecto
        an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos. Vis homero consul perfecto an. Ut vim case
        facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.
      </p>
      <p>
        Vis homero consul perfecto an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.Vis homero consul perfecto
        an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos. Vis homero consul perfecto an. Ut vim case
        facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.
      </p>
      <p>
        Vis homero consul perfecto an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.Vis homero consul perfecto
        an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos. Vis homero consul perfecto an. Ut vim case
        facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.
      </p>
      <p>
        Vis homero consul perfecto an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.Vis homero consul perfecto
        an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos. Vis homero consul perfecto an. Ut vim case
        facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.
      </p>
      <p>
        Vis homero consul perfecto an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.Vis homero consul perfecto
        an. Ut vim case facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos. Vis homero consul perfecto an. Ut vim case
        facilisi, cu case solum constituto eam. Sed soluta dissentiunt id, enim quaerendum vim eu. Duo nulla postulant salutandi cu, at dicunt molestie epicurei est. Ex erat iusto epicuri eos.
      </p>
    </div>
    <div class="right-column">
      <p>In eos tation scripserit, ei atomorum posidonium contentiones nec. Nam id denique praesent abhorreant, aeque omnesque tacimates an pri. Perpetua salutandi imperdiet ut cum, per ut odio iracundia quaerendum. Pri et iriure fabellas.
      </p>
    </div>
  </div>

<!-- //// Back to the top button //// -->
  <button onclick="topFunction()" id="to-top" title="Go to top">&#10506</button>

    <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("to-top").style.display = "block";
        } else {
            document.getElementById("to-top").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>

<!-- //// End Back to the top button //// -->
  </div>
</body>
