<body>

  <div class="content">

    <div class="left-column">


      <h6>Popular</h6>

      <button type="button" class="btn btn-sm"><img src="img/sidebar/flame.png" alt="flame icon hot topic" id="hot-topic"><strong>Hot</strong></button><br>

      <button type="button" class="btn btn-sm"><img src="img/sidebar/trending.png" alt="arrow icon trending" id="hot-topic"><strong>Trending</strong></button><br>

      <button type="button" class="btn btn-sm"><img src="img/sidebar/clock-icon.jpg" alt="clock icon fresh posts" id="hot-topic"><strong>Fresh</strong></button>
      <br>
      <!-- button to open the modal for UPLOADS -->
      <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#myModal">Upload</button>

      <!--  the modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h2>Post something new!</h2>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>Choose a file to upload</p>
              <label class="upload"><input type="file"/>Browse...</label>
              <button type="button" class="btn btn-default">Submit</button>
              <br><br>
              <p>Now think of a witty caption...</p>
              <form>
                <div class="form-group">
                  <label for="postCaption">Caption:</label>
                  <br>
                  <textarea class="form-control" rows="5" id="caption" placeholder="Enter a caption for your post"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



    </div>

    <!-- /// MIDDLE /// -->
    <div class="middle-column">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/derp.jpg" alt="Card image cap">
        <div class="card-body">
          <link class="card-subtitle mb-2 text-muted" href="user-profile">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- UPVOTE DOWNVOTE -->
          <div id="topic" class="upvote">
            <a class="upvote"></a>
            <span class="count">0</span>
            <a class="downvote"></a>
            <a class="star"></a>
          </div>
          <!-- Share on Twitter -->
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <!-- Share on Gmail -->
          <script src="https://apis.google.com/js/platform.js" async defer></script>
          <g:plus action="share"></g:plus>
        </div>
      </div>
    </div>

      <!-- /// END MIDDLE /// -->

      <!-- /// RIGHT COLUMN ADS /// -->

      <div class="right-column">

        <a href="https://www.adidas.com/" target="_blank"><img src="img/right-sidebar/ads2.jpg" alt="adidas ad" id="ad" ></a>

        <a href="https://www.starbucks.com/" target="_blank"><img src="img/right-sidebar/ads3.png"  alt="starbucks ad" id="ad"> </a>

      </div>
      <!-- /// END RIGHT COLUMN ADS /// -->

      <!-- //// Back to the top button //// -->
      <button onclick="topFunction()" id="top" title="Go to top">top</button>

      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("top").style.display = "block";
          } else {
            document.getElementById("top").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
      </script>




      <!-- //// End Back to the top button //// -->

    </div>

</body>
