<body>
  <div class="content">
    <div class="left-column">
      <h6>Popular</h6>
      <button type="button" class="btn btn-sm"><img src="img/sidebar/flame.png" alt="flame icon hot topic" id="hot-topic"><strong>Hot</strong></button><br>
      <button type="button" class="btn btn-sm"><img src="img/sidebar/trending.png" alt="arrow icon trending" id="hot-topic"><strong>Trending</strong></button><br>
      <button type="button" class="btn btn-sm"><img src="img/sidebar/clock-icon.jpg" alt="clock icon fresh posts" id="hot-topic"><strong>Fresh</strong></button>
    </div>
    <div class="middle-column">
      
    </div>

    <!-- /// RIGHT COLUMN ADS /// -->
    <div class="right-column">
      <a href="https://www.adidas.com/" target="_blank"><img src="img/right-sidebar/ads2.jpg" alt="adidas ad" id="ad" ></a>
      <a href="https://www.starbucks.com/" target="_blank"><img src="img/right-sidebar/ads3.png"  alt="starbucks ad" id="ad"> </a>
    </div>

    <!-- //// Back to the top button //// -->
    <button onclick="topFunction()" id="top" title="Go to top">top</button>

    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("to-top").style.display = "block";
        } else {
          document.getElementById("to-top").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>

    <!-- //// End Back to the top button //// -->
  </div>
</body>
