 <body>

  <div class="content">


    <div class="left-column">
<<<<<<< HEAD
      <button type="button" class="btn btn-sm" onclick="this.blur();"><img src="img/sidebar/flame.png" alt="flame icon hot topic" id="hot-topic"><strong>Hot</strong></button><br>

      <button type="button" class="btn btn-sm"onclick="this.blur();"><img src="img/sidebar/trending.png" alt="arrow icon trending" id="hot-topic"><strong>Trending</strong></button><br>

      <button type="button" class="btn btn-sm"onclick="this.blur();"><img src="img/sidebar/clock-icon.jpg" alt="clock icon fresh posts" id="hot-topic"><strong>Fresh</strong></button>
      <br>
      <!-- button to open the modal for UPLOADS -->
      <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#myModal">Upload</button>

      <!--  the modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h2>Post something new!</h2>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form method="post" enctype="multipart/form-data">
              <p>Choose a file to upload</p>
              <input name="file" type="file">
              <!-- <br><br>
              <p>Now think of a witty caption...</p>
                <div class="form-group">
                  <label for="postCaption">Caption:</label>
                  <br>
                  <textarea name="caption" class="form-control" rows="5" id="caption" placeholder="Enter a caption for your post"></textarea>
                </div> -->
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
=======
      <h6>Popular</h6>
      <button type="button" class="btn btn-sm" ><img src="img/sidebar/flame.png" alt="flame icon hot topic" id="hot-topic"><strong>Hot</strong></button><br>
      <button type="button" class="btn btn-sm" ><img src="img/sidebar/trending.png" alt="arrow icon trending" id="hot-topic"><strong>Trending</strong></button><br>
        <button type="button" class="btn btn-sm"onclick="this.blur();"><img src="img/sidebar/clock-icon.jpg" alt="clock icon fresh posts" id="hot-topic"><strong>Fresh</strong></button><br>

        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#myModal">Upload</button>

        <!--  the modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Post something new!</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>


                        <div class="modal-body">
                            <form method="post" ref='uploadForm' enctype="multipart/form-data">
                            <p>Choose a file to upload</p>
                            <label class="upload"><input type="file" name="myfile"/></label>

                            <button type="submit" class="btn btn-default">Submit</button>
                            <br><br>

                            <p>Now think of a witty caption...</p>
                                <div class="form-group">
                                    <label for="postCaption">Caption:</label>
                                    <br>
                                    <textarea class="form-control" name="caption" rows="5" id="caption" placeholder="Enter a caption for your post"></textarea>
                                </div>
                            </form>
                        </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
>>>>>>> 9b54bfe903ee21257cd670e0f05cf7ed4e401bc3
    </div>


    <div class="middle-column">

<<<<<<< HEAD

=======
>>>>>>> 9b54bfe903ee21257cd670e0f05cf7ed4e401bc3
    </div>


    <div class="right-column">
      <p>Username</p>

      <br>

      <img src="img/defaultpic.jpg" alt="img/derp.jpg" class="img-thumbnail">

      <br>


        <button type="button" class="btn btn-dark btn-sm">Change Avatar</button>
        <br>


      <p>About</p>

          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">I am derp. I am soooo interesting. Look how I'm geekin' out. I'm so fitted. I'm on Gucci. I'm so pretty. I'm gon'get it. Watch me move!</textarea>
          <button type="button" class"btn btn-primary btn-sm">Save Changes</button>
      <br>
      <br>

      <button type="button" class="btn btn-info btn-sm">Followers: {{followers}}</button>
      <button type="button" class="btn btn-info btn-sm">Following: {{following}}</button>

      <br>
      <br>

      {{#if signedin}}

      <button type="button" class="btn btn-dark btn-block">Logout</button>

      <br>

      <button type="button" class="btn btn-warning btn-block">Change Password</button>

      <button type="button" class="btn btn-danger btn-block">Delete Account</button>


      {{/if}}
      <br>
      <br>




    </div>
  </div>


<!-- //// Back to the top button //// -->
  <button onclick="topFunction()" id="to-top" title="Go to top">&#10506 </button>

    <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("to-top").style.display = "block";
        } else {
            document.getElementById("to-top").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>

<!-- //// End Back to the top button //// -->
  </div>
</body>
