.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-brand{
  font-family: 'Rubik Mono One', sans-serif;
  color: rgb(130, 130, 130);
  text-transform: uppercase;
  font-size: 25px;
}
.nav-link{
  color: white;
}

.navbar{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.logo {
  height: 40px;
}

.btn{    // login & sign on
  border-color: white;
  color: white;
}

.form-control{
  font-size: 14px;
}
