body{
  position: relative;
}

.content {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-gap: 5px;
  padding: 5px;
  justify-content: space-between;
}
.middle-column {
  overflow-x: hidden;
  overflow-y: scroll;
  border: red solid 2px;
  padding-left: 15px;
  padding-right: 15px;
}

.left-column {
  border: red solid 2px;
  padding-left: 10px;
  padding-top: 7px;
}

.left-column h6{
  color: rgb(154, 154, 154); /* "Popular" */
  font-size: 14px;
}

.left-column button{
  color: black;
}

.left-column button:hover{
  background-color: rgba(213, 213, 213, 0.73);
}

.left-column hot-topic{
  max-width: 25px;
  max-height: 25px;
}

.left-column img{
  padding-right: 6px;
}

.right-column {
  border: red solid 2px;
  padding-left: 10px;
}

#to-top{
  position: fixed;
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 999;
  background-color: black;
  color: white;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px;
  border-radius: 5px; /* Rounded corners */
  font-size: 20px;
  border: dotted red 1px;
}
#to-top:hover {
    background-color: #555;
}
